.body-whole {
  font-family: "Montserrat", sans-serif;
}

.gap {
  height: 150px;
  background-color: #074c31;
}

section {
  background-color: #074c31;
}

.header {
  background-color: #074c31;
}

.nav-logo {
  transition: transform 0.4s;
}

.nav-logo:hover {
  transform: scale(1.1);
}

nav li {
  color: var(--1st, #212832);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
  padding-left: 88px;
}

nav ul.nav-change-color {
  transition: transform 1s;
}

nav ul a.nav-change-color:hover {
  color: #f1a501 !important;
  scale: 1.2;
}

.nav-signup-container {
  display: inline-block;
}

.nav-signup {
  border: #000000 1px solid;
  padding: 10px 20px;
  border-radius: 7px;
  transition: transform 0.4s;
}

.nav-signup:hover {
  border: #f1a501 1px solid;
  background-color: #f1a501;
  color: #fff;
}

.bank-decor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  width: 40%;
  /* background-color: #AFB3FF;  */
  z-index: -1;
  overflow: hidden;
}

.bank-subtitle {
  color: #df6951;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.bank-title {
  color: #181e4b;
  font-family: "Volkhov";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -2px;
}

.bank-info {
  color: #5e6282;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.bank-btn {
  box-shadow: 10px 20px 35px 0px rgba(241, 165, 1, 0.15) !important;
  background: var(--yellow, #f1a501) !important;
  font-size: 13px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.bank-btn:hover {
  background: var(--yellow, #de9803) !important;
  color: #fff !important;
}

.bank-phone {
  color: var(--black-100, #010101);
  text-align: center;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
}

.section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #343434;
}

.section-subtitle {
  color: var(--black-40, #999);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

#service-list {
  font-style: italic;
}

.best-subtitle {
  color: var(--TEXT-CLR, #5e6282);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5;
}

.best-title {
  color: var(--text-heading-color, #1e1d4c);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
}

.best-info {
  color: var(--TEXT-CLR, #5e6282);
  font-size: 15px;
  font-weight: 500;
}

.beast-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.beast-subtitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.beast-info {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#beast li {
  padding: 7px;
}

.budget-title {
  color: var(--black-80, #343434);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.budget-info {
  color: var(--black-60, #676767);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-rotate {
  transition: transform 1s;
}

.text-rotate:hover {
  transform: rotate(360deg) !important;
  color: black !important;
}

footer {
  background-color: white;
}

footer h5 {
  color: var(--black-100, #010101);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
}

footer {
  color: var(--black-60, #676767);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  line-height: 30px;
}

footer li:hover {
  color: var(--yellow, #f1a501);
}

footer a {
  text-decoration: none;
  color: inherit;
}

#icon-awesome {
  color: #656ed3;
}
