USE [NamcombankOriginal]
GO
/****** Object:  Table [dbo].[Active]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Active](
	[active] [bit] NOT NULL,
	[activename] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCards]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[card_number] [nvarchar](20) NOT NULL,
	[cvv] [nvarchar](4) NOT NULL,
	[expiry_date] [date] NOT NULL,
	[credit_limit] [decimal](18, 2) NOT NULL,
	[available_balance] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[phonenumber] [nvarchar](15) NOT NULL,
	[balance] [money] NULL,
	[citizen_identification_card] [nvarchar](15) NULL,
	[address] [nvarchar](200) NOT NULL,
	[avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAssets]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAssets](
	[asset_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
	[asset_name] [nvarchar](50) NOT NULL,
	[asset_type] [varchar](50) NOT NULL,
	[asset_value] [float] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[status] [nvarchar](50) NULL,
	[description] [nvarchar](max) NOT NULL,
	[approved_by] [nchar](10) NULL,
	[approved_date] [datetime] NULL,
	[note] [text] NULL,
 CONSTRAINT [PK_CustomerAssets] PRIMARY KEY CLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[feature_id] [int] NOT NULL,
	[feature_name] [varchar](50) NOT NULL,
	[url] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[submitted_at] [date] NOT NULL,
	[rating] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[gender] [bit] NOT NULL,
	[gendername] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPackages]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPackages](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[package_name] [nvarchar](100) NOT NULL,
	[loan_type] [nchar](10) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[interest_rate] [decimal](5, 2) NOT NULL,
	[max_amount] [decimal](18, 2) NOT NULL,
	[min_amount] [decimal](18, 2) NOT NULL,
	[loan_term] [int] NOT NULL,
	[created_date] [date] NOT NULL,
 CONSTRAINT [PK__LoanPack__63846AE837C7752C] PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanRequests]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[package_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[request_date] [datetime] NULL,
	[amount] [float] NULL,
	[status] [nvarchar](100) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[approval_date] [datetime] NULL,
	[approved_by] [nvarchar](50) NULL,
	[approved_note] [nvarchar](50) NULL,
	[asset_id] [int] NULL,
 CONSTRAINT [PK_LoanRequests] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[customer_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[amount] [nchar](10) NOT NULL,
	[start_date] [nchar](10) NOT NULL,
	[end_date] [nchar](10) NOT NULL,
	[status] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[sender_type] [nvarchar](10) NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [nvarchar](10) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[updateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[created_at] [date] NOT NULL,
	[customer_id] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepaymentSchedule]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepaymentSchedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[due_date] [date] NOT NULL,
	[amount_due] [float] NOT NULL,
	[request_id] [int] NULL,
 CONSTRAINT [PK_RepaymentSchedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeatures]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeatures](
	[role_id] [int] NOT NULL,
	[feature_id] [int] NOT NULL,
 CONSTRAINT [PK_RoleFeatures] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saving]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saving](
	[savings_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[amount] [float] NULL,
	[interest_rate] [float] NOT NULL,
	[term_months] [int] NOT NULL,
	[opened_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[saving_request_id] [int] NOT NULL,
	[staff_id] [int] NULL,
	[money_get_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[savings_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingFeedback]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingFeedback](
	[content] [nvarchar](max) NOT NULL,
	[submitted_at] [date] NOT NULL,
	[answer] [nvarchar](max) NULL,
	[answer_at] [date] NULL,
	[savings_id] [int] NOT NULL,
	[feedback_type] [varchar](10) NOT NULL,
	[attachment] [nvarchar](max) NULL,
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingPackage]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingPackage](
	[saving_package_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[saving_package_name] [nvarchar](255) NOT NULL,
	[saving_package_description] [nvarchar](max) NOT NULL,
	[saving_package_interest_rate] [decimal](5, 2) NOT NULL,
	[saving_package_term_months] [int] NULL,
	[saving_package_min_deposit] [decimal](18, 2) NOT NULL,
	[saving_package_max_deposit] [decimal](18, 2) NULL,
	[saving_package_status] [nvarchar](10) NOT NULL,
	[saving_package_created_at] [datetime] NOT NULL,
	[saving_package_updated_at] [datetime] NULL,
	[saving_package_withdrawable] [bit] NOT NULL,
	[saving_package_approval_status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[saving_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingRequest]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingRequest](
	[saving_request_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[saving_package_id] [int] NOT NULL,
	[staff_id] [int] NULL,
	[money] [decimal](18, 2) NOT NULL,
	[saving_approval_status] [nvarchar](10) NOT NULL,
	[saving_approval_date] [date] NULL,
	[money_approval_status] [nvarchar](10) NOT NULL,
	[amount] [float] NULL,
	[created_at] [date] NOT NULL,
	[saving_package_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[saving_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[phonenumber] [nvarchar](15) NOT NULL,
	[citizen_identification_card] [nvarchar](15) NULL,
	[address] [nvarchar](200) NOT NULL,
	[avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffRoles]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRoles](
	[staff_id] [int] NULL,
	[role_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 3/30/2025 12:50:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[schedule_id] [int] NULL,
	[request_id] [int] NULL,
	[amount] [money] NOT NULL,
	[transaction_date] [date] NOT NULL,
	[type] [nvarchar](max) NULL,
	[savings_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[staff_id] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Active] ([active], [activename]) VALUES (0, N'Closed')
INSERT [dbo].[Active] ([active], [activename]) VALUES (1, N'Opening')
GO
SET IDENTITY_INSERT [dbo].[CreditCards] ON 

INSERT [dbo].[CreditCards] ([card_id], [customer_id], [card_number], [cvv], [expiry_date], [credit_limit], [available_balance], [status]) VALUES (2, 69, N'5743425920574501', N'176', CAST(N'2028-03-20' AS Date), CAST(100000000.00 AS Decimal(18, 2)), CAST(100000000.00 AS Decimal(18, 2)), N'Active')
SET IDENTITY_INSERT [dbo].[CreditCards] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [balance], [citizen_identification_card], [address], [avatar]) VALUES (13, N'Truong Quoc Truong', N'truongtq', N'sAV5PWv4CBikIZOd7DNQBp8Q+Lo=', 1, N'tqtolympia@gmail.com', CAST(N'2005-02-04' AS Date), 1, N'0923456781', 0.0000, N'012345678901', N'Vietnam', NULL)
INSERT [dbo].[Customer] ([customer_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [balance], [citizen_identification_card], [address], [avatar]) VALUES (20, N'Doan Vinh Hung', N'kakaka', N'123456', 1, N'kakaka@gmail.com', CAST(N'1970-01-01' AS Date), 1, N'0875469321', 0.0000, N'012345678910', N'Ha Tinh, Vietnam', NULL)
INSERT [dbo].[Customer] ([customer_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [balance], [citizen_identification_card], [address], [avatar]) VALUES (27, N'Nguyen Thai Duong', N'duongnt', N'2imtLxYBBNNKJcKcczkw6QqsbZs=', 1, N'duongnt@gmail.com', CAST(N'1970-01-01' AS Date), 1, N'0956784123', 0.0000, N'012345678910', N'Hanoi, Vietnam', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerAssets] ON 

INSERT [dbo].[CustomerAssets] ([asset_id], [customer_id], [staff_id], [asset_name], [asset_type], [asset_value], [created_date], [status], [description], [approved_by], [approved_date], [note]) VALUES (3, 13, 1, N'Căn hộ chung cư', N'REAL_ESTATE', 123, CAST(N'2025-03-06T23:42:56.970' AS DateTime), N'REJECTED', N'sdsad', N'1         ', CAST(N'2025-03-06T23:43:08.280' AS DateTime), N'sdsad')
INSERT [dbo].[CustomerAssets] ([asset_id], [customer_id], [staff_id], [asset_name], [asset_type], [asset_value], [created_date], [status], [description], [approved_by], [approved_date], [note]) VALUES (5, 13, 1, N'abcd', N'REAL_ESTATE', 12345566789, CAST(N'2025-03-07T00:04:16.577' AS DateTime), N'PENDING', N'fgfdgfd', NULL, NULL, NULL)
INSERT [dbo].[CustomerAssets] ([asset_id], [customer_id], [staff_id], [asset_name], [asset_type], [asset_value], [created_date], [status], [description], [approved_by], [approved_date], [note]) VALUES (6, 75, 1, N'Salary', N'INCOME', 50000000, CAST(N'2025-03-29T21:19:48.647' AS DateTime), N'APPROVED', N'', N'1         ', CAST(N'2025-03-29T21:19:59.393' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[CustomerAssets] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (1, N'Finance')
INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (2, N'Human Resources')
INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
INSERT [dbo].[Features] ([feature_id], [feature_name], [url]) VALUES (1, N'Staff Filter', N'/staffFilter')
INSERT [dbo].[Features] ([feature_id], [feature_name], [url]) VALUES (2, N'Staff Added', N'/addStaff')
INSERT [dbo].[Features] ([feature_id], [feature_name], [url]) VALUES (3, N'Staff Update', N'/updateStaff')
GO
INSERT [dbo].[Gender] ([gender], [gendername]) VALUES (0, N'Female')
INSERT [dbo].[Gender] ([gender], [gendername]) VALUES (1, N'Male')
GO
SET IDENTITY_INSERT [dbo].[LoanPackages] ON 

INSERT [dbo].[LoanPackages] ([package_id], [staff_id], [package_name], [loan_type], [description], [interest_rate], [max_amount], [min_amount], [loan_term], [created_date]) VALUES (1, 1, N'Quick Unsecured Loan Package', N'unsecured ', N'No collateral required, quick processing.', CAST(8.50 AS Decimal(5, 2)), CAST(50000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), 12, CAST(N'2025-01-01' AS Date))
INSERT [dbo].[LoanPackages] ([package_id], [staff_id], [package_name], [loan_type], [description], [interest_rate], [max_amount], [min_amount], [loan_term], [created_date]) VALUES (2, 1, N'Discounted Unsecured Loan Package', N'unsecured ', N'Special interest rates for individual customers.', CAST(7.50 AS Decimal(5, 2)), CAST(100000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), 24, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[LoanPackages] ([package_id], [staff_id], [package_name], [loan_type], [description], [interest_rate], [max_amount], [min_amount], [loan_term], [created_date]) VALUES (3, NULL, N'Unsecured Business Loan Package', N'unsecured ', N'Suitable for small businesses.', CAST(9.00 AS Decimal(5, 2)), CAST(200000000.00 AS Decimal(18, 2)), CAST(20000000.00 AS Decimal(18, 2)), 36, CAST(N'2025-01-20' AS Date))
SET IDENTITY_INSERT [dbo].[LoanPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[LoanRequests] ON 

INSERT [dbo].[LoanRequests] ([request_id], [staff_id], [package_id], [customer_id], [request_date], [amount], [status], [start_date], [end_date], [approval_date], [approved_by], [approved_note], [asset_id]) VALUES (24, NULL, 4, 69, CAST(N'2025-03-20T00:00:00.000' AS DateTime), 51000000, N'Approved', CAST(N'2025-03-20T10:00:45.007' AS DateTime), CAST(N'2030-03-20T10:00:45.007' AS DateTime), CAST(N'2025-03-20T10:00:45.007' AS DateTime), N'1', N'ok', NULL)
INSERT [dbo].[LoanRequests] ([request_id], [staff_id], [package_id], [customer_id], [request_date], [amount], [status], [start_date], [end_date], [approval_date], [approved_by], [approved_note], [asset_id]) VALUES (25, NULL, 5, 69, CAST(N'2025-03-20T00:00:00.000' AS DateTime), 31000000, N'Approved', CAST(N'2025-03-20T10:01:21.343' AS DateTime), CAST(N'2029-03-20T10:01:21.343' AS DateTime), CAST(N'2025-03-20T10:01:21.343' AS DateTime), N'1', N'Approved by giangnv', NULL)
INSERT [dbo].[LoanRequests] ([request_id], [staff_id], [package_id], [customer_id], [request_date], [amount], [status], [start_date], [end_date], [approval_date], [approved_by], [approved_note], [asset_id]) VALUES (26, NULL, 2, 69, CAST(N'2025-03-20T00:00:00.000' AS DateTime), 6000000, N'Approved', CAST(N'2025-03-20T10:01:25.147' AS DateTime), CAST(N'2027-03-20T10:01:25.147' AS DateTime), CAST(N'2025-03-20T10:01:25.147' AS DateTime), N'1', N'Approved by giangnv', NULL)
SET IDENTITY_INSERT [dbo].[LoanRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[RepaymentSchedule] ON 

INSERT [dbo].[RepaymentSchedule] ([schedule_id], [status], [due_date], [amount_due], [request_id]) VALUES (531, N'PENDING', CAST(N'2025-04-20' AS Date), 997873.56, 24)
INSERT [dbo].[RepaymentSchedule] ([schedule_id], [status], [due_date], [amount_due], [request_id]) VALUES (532, N'PENDING', CAST(N'2025-05-20' AS Date), 997873.56, 24)
INSERT [dbo].[RepaymentSchedule] ([schedule_id], [status], [due_date], [amount_due], [request_id]) VALUES (533, N'PENDING', CAST(N'2025-06-20' AS Date), 997873.56, 24)
GO
SET IDENTITY_INSERT [dbo].[RepaymentSchedule] OFF
GO
INSERT [dbo].[RoleFeatures] ([role_id], [feature_id]) VALUES (1, 1)
INSERT [dbo].[RoleFeatures] ([role_id], [feature_id]) VALUES (1, 2)
INSERT [dbo].[RoleFeatures] ([role_id], [feature_id]) VALUES (1, 3)
GO
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'Staff')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Head Of Staff')
GO
SET IDENTITY_INSERT [dbo].[SavingPackage] ON 

SET IDENTITY_INSERT [dbo].[SavingPackage] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [department_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [citizen_identification_card], [address], [avatar]) VALUES (1, 2, N'Nguyen Van Giang', N'giangnv', N'0AK22igU+8BSKRQwWDGb1Jwz3rQ=', 1, N'tranducanh220604@gmail.com', CAST(N'2025-02-24' AS Date), 1, N'0123456789', N'042204001158', N'123 Updated Street', NULL)
INSERT [dbo].[Staff] ([staff_id], [department_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [citizen_identification_card], [address], [avatar]) VALUES (61, 1, N'Role Nhân Viên', N'rolenhanvien', N'0AK22igU+8BSKRQwWDGb1Jwz3rQ=', 1, N'tranducanh220604@gmail.com', CAST(N'2025-03-08' AS Date), 1, N'0123654789', N'011546464640', N'Vietnam', NULL)
INSERT [dbo].[Staff] ([staff_id], [department_id], [fullname], [username], [password], [active], [email], [dob], [gender], [phonenumber], [citizen_identification_card], [address], [avatar]) VALUES (62, 5, N'Role Trưởng Phòng', N'roletruongphong', N'0AK22igU+8BSKRQwWDGb1Jwz3rQ=', 1, N'tranducanh220604@gmail.com', CAST(N'2025-03-08' AS Date), 1, N'0987654330', N'012345678912', N'Vietnam', NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
INSERT [dbo].[StaffRoles] ([staff_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[StaffRoles] ([staff_id], [role_id]) VALUES (NULL, 2)
INSERT [dbo].[StaffRoles] ([staff_id], [role_id]) VALUES (NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([transaction_id], [schedule_id], [request_id], [amount], [transaction_date], [type], [savings_id], [customer_id], [staff_id]) VALUES (33, NULL, 24, 51000000.0000, CAST(N'2025-03-20' AS Date), N'Disbursement', NULL, 69, 1)
INSERT [dbo].[Transaction] ([transaction_id], [schedule_id], [request_id], [amount], [transaction_date], [type], [savings_id], [customer_id], [staff_id]) VALUES (34, NULL, 25, 31000000.0000, CAST(N'2025-03-20' AS Date), N'Disbursement', NULL, 69, 1)
INSERT [dbo].[Transaction] ([transaction_id], [schedule_id], [request_id], [amount], [transaction_date], [type], [savings_id], [customer_id], [staff_id]) VALUES (35, NULL, 26, 6000000.0000, CAST(N'2025-03-20' AS Date), N'Disbursement', NULL, 69, 1)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CreditCa__1E6E0AF4A5976078]    Script Date: 3/30/2025 12:50:33 AM ******/
ALTER TABLE [dbo].[CreditCards] ADD UNIQUE NONCLUSTERED 
(
	[card_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CreditCards] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Customer__active__5EBF139D]  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Customer__balanc__5FB337D6]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ('sent') FOR [status]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Active] FOREIGN KEY([active])
REFERENCES [dbo].[Active] ([active])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Active]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Gender] FOREIGN KEY([gender])
REFERENCES [dbo].[Gender] ([gender])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Gender]
GO
ALTER TABLE [dbo].[CustomerAssets]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAssets_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerAssets] CHECK CONSTRAINT [FK_CustomerAssets_Customer]
GO
ALTER TABLE [dbo].[CustomerAssets]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAssets_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[CustomerAssets] CHECK CONSTRAINT [FK_CustomerAssets_Staff]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[LoanPackages]  WITH CHECK ADD  CONSTRAINT [FK_LoanPackages_Staff1] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LoanPackages] CHECK CONSTRAINT [FK_LoanPackages_Staff1]
GO
ALTER TABLE [dbo].[LoanRequests]  WITH CHECK ADD  CONSTRAINT [FK_LoanRequests_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoanRequests] CHECK CONSTRAINT [FK_LoanRequests_Customer]
GO
ALTER TABLE [dbo].[LoanRequests]  WITH CHECK ADD  CONSTRAINT [FK_LoanRequests_CustomerAssets] FOREIGN KEY([asset_id])
REFERENCES [dbo].[CustomerAssets] ([asset_id])
GO
ALTER TABLE [dbo].[LoanRequests] CHECK CONSTRAINT [FK_LoanRequests_CustomerAssets]
GO
ALTER TABLE [dbo].[LoanRequests]  WITH CHECK ADD  CONSTRAINT [FK_LoanRequests_LoanPackages] FOREIGN KEY([package_id])
REFERENCES [dbo].[LoanPackages] ([package_id])
GO
ALTER TABLE [dbo].[LoanRequests] CHECK CONSTRAINT [FK_LoanRequests_LoanPackages]
GO
ALTER TABLE [dbo].[LoanRequests]  WITH CHECK ADD  CONSTRAINT [FK_LoanRequests_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[LoanRequests] CHECK CONSTRAINT [FK_LoanRequests_Staff]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Staff]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Customer]
GO
ALTER TABLE [dbo].[RepaymentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_RepaymentSchedule_LoanRequests] FOREIGN KEY([request_id])
REFERENCES [dbo].[LoanRequests] ([request_id])
GO
ALTER TABLE [dbo].[RepaymentSchedule] CHECK CONSTRAINT [FK_RepaymentSchedule_LoanRequests]
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeatures_Features1] FOREIGN KEY([feature_id])
REFERENCES [dbo].[Features] ([feature_id])
GO
ALTER TABLE [dbo].[RoleFeatures] CHECK CONSTRAINT [FK_RoleFeatures_Features1]
GO
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeatures_Roles1] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[RoleFeatures] CHECK CONSTRAINT [FK_RoleFeatures_Roles1]
GO
ALTER TABLE [dbo].[Saving]  WITH CHECK ADD  CONSTRAINT [FK_Saving_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Saving] CHECK CONSTRAINT [FK_Saving_Customer]
GO
ALTER TABLE [dbo].[Saving]  WITH CHECK ADD  CONSTRAINT [FK_Saving_SavingRequest] FOREIGN KEY([saving_request_id])
REFERENCES [dbo].[SavingRequest] ([saving_request_id])
GO
ALTER TABLE [dbo].[Saving] CHECK CONSTRAINT [FK_Saving_SavingRequest]
GO
ALTER TABLE [dbo].[SavingFeedback]  WITH CHECK ADD FOREIGN KEY([savings_id])
REFERENCES [dbo].[Saving] ([savings_id])
GO
ALTER TABLE [dbo].[SavingPackage]  WITH CHECK ADD  CONSTRAINT [FK_SavingPackage_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[SavingPackage] CHECK CONSTRAINT [FK_SavingPackage_Staff]
GO
ALTER TABLE [dbo].[SavingRequest]  WITH CHECK ADD  CONSTRAINT [FK_SavingRequest_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavingRequest] CHECK CONSTRAINT [FK_SavingRequest_Customer]
GO
ALTER TABLE [dbo].[SavingRequest]  WITH CHECK ADD  CONSTRAINT [FK_SavingRequest_SavingPackage] FOREIGN KEY([saving_package_id])
REFERENCES [dbo].[SavingPackage] ([saving_package_id])
GO
ALTER TABLE [dbo].[SavingRequest] CHECK CONSTRAINT [FK_SavingRequest_SavingPackage]
GO
ALTER TABLE [dbo].[SavingRequest]  WITH CHECK ADD  CONSTRAINT [FK_SavingRequest_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[SavingRequest] CHECK CONSTRAINT [FK_SavingRequest_Staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [dbo].[StaffRoles]  WITH CHECK ADD  CONSTRAINT [FK_StaffRoles_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[StaffRoles] CHECK CONSTRAINT [FK_StaffRoles_Roles]
GO
ALTER TABLE [dbo].[StaffRoles]  WITH CHECK ADD  CONSTRAINT [FK_StaffRoles_Staff1] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StaffRoles] CHECK CONSTRAINT [FK_StaffRoles_Staff1]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Customer]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_LoanRequests] FOREIGN KEY([request_id])
REFERENCES [dbo].[LoanRequests] ([request_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_LoanRequests]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_RepaymentSchedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[RepaymentSchedule] ([schedule_id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_RepaymentSchedule]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Saving] FOREIGN KEY([savings_id])
REFERENCES [dbo].[Saving] ([savings_id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Saving]
GO
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD CHECK  (([status]='Expired' OR [status]='Blocked' OR [status]='Active'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CHK_Feedback_Rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CHK_Feedback_Rating]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD CHECK  (([sender_type]='staff' OR [sender_type]='customer'))
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD CHECK  (([status]='read' OR [status]='delivered' OR [status]='sent'))
GO
ALTER TABLE [dbo].[SavingPackage]  WITH CHECK ADD CHECK  (([saving_package_status]='inactive' OR [saving_package_status]='active'))
GO
ALTER TABLE [dbo].[SavingPackage]  WITH CHECK ADD CHECK  (([saving_package_approval_status]='approved' OR [saving_package_approval_status]='pending'))
GO
ALTER TABLE [dbo].[SavingRequest]  WITH CHECK ADD CHECK  (([money_approval_status]='received' OR [money_approval_status]='pending'))
GO
ALTER TABLE [dbo].[SavingRequest]  WITH CHECK ADD CHECK  (([saving_approval_status]='rejected' OR [saving_approval_status]='approved' OR [saving_approval_status]='pending'))
GO
